.contact-page {
    position: relative;
    .add-contact-btn {
        position: fixed;
        bottom: 3.4rem;
        right: 1rem;
        @media (min-width: 26rem) {
            right: calc((100% - 24rem) / 2);
        }
        width: 4rem;
        height: 4rem;
        padding: 0.75rem;
        border-radius: 50%;
        background-color: #ffd1be;
        border: 4px solid #fe7d43;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}