.contact-details-page {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        img {
            width: 1.5rem;
        }
    }
    .contact-info {
        .img-container {
            background-color: #e0e0e0;
            width: 7.4rem;
            height: 7.4rem;
            border-radius: 50%;
        }
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
}