<section class="moves-list" *ngIf="moves.length">
    <h3>{{title}}</h3>
    <!-- Home Page List -->
    <ng-container *ngIf="!toContact">
        <article *ngFor="let move of moves | slice:0:maxMovesToDisplay; let i=index">
            <p>To: {{move.to}}</p>
            <p>At: {{move.at | date : 'medium'}}</p>
            <p>Amount: {{move.amount}} coins</p>
        </article>
    </ng-container>
    <!-- Contact Details Page List -->
    <ng-container *ngIf="toContact">
        <article *ngFor="let move of moves">
            <p>At: {{move.at | date : 'medium'}}</p>
            <p>Amount: {{move.amount}} coins</p>
        </article>
    </ng-container>
</section>
