.moves-list {
    background-color: #e0e0e0;
    border-radius: 0.5rem;
    padding: 1rem;
    h3 {
        border-bottom: 1px solid darkgrey;
    }
    article {
        border-bottom: 1px solid darkgrey;
    }
}