<section class="transfer-fund">
    <p>Transfer coins to {{contact.name}}</p>
    <form [formGroup]="transferForm" (ngSubmit)="onTransferCoins()">
        <input type="number" [formControl]="transferForm.get('amount')" #amount="ngForm" placeholder="Amount">
        <button class="call-to-action" type="submit" [disabled]="!transferForm.valid">Transfer</button>
        <p *ngIf="maxCoins" [ngClass]="{hidden: amount.valid || amount.pristine}" class="invalid-message">
            Amount between 0 and {{maxCoins$ | async}} coins
        </p>
        <p *ngIf="!maxCoins" [ngClass]="{hidden: amount.valid || amount.pristine}" class="invalid-message">
            No Coins Left
        </p>
    </form>
</section>
