.app-layout {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .content-container {
        width: calc(100% - 30px);
        margin: 0 auto;
        padding-top: 5rem;
        flex-grow: 1;
    }
    footer {
        text-align: center;
        padding: 1.25rem 0;
    }
}