<header class="main-header">
    <nav>
        <a routerLink="" title="Home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../assets/img/home.svg" />
        </a>
        <a routerLink="contact" title="Contacts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../assets/img/contacts.svg" />
        </a>
        <a routerLink="statistic" title="Statistics" routerLinkActive="active">
            <img src="../../../assets/img/statistics.svg" />
        </a>
    </nav>
</header>